@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

.navbar-brand {
  font-size: 24px !important;
}

.navbar {
  margin-bottom: 0px !important;
}

.intro-header {
  height: 600px;

}

.catchphrase {
  font-size: 3.5em !important;
}

#custom-search-blocks-form-1 .form-text {
  width: 90%;
  height: 55px;
  font-size: 30px;
  font-weight: 200;
  background-color:rgba(255,255,255,1);
  box-shadow: 2px 2px 2px #3E7575;
  padding-right: 10px;
  border: 0;
  color: #261534;
  text-align: left;
  padding-left: 20px;
}

.intro-message {
  padding-top: 14em !important;
  padding-bottom: 0px !important;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder {
    opacity: 0;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-moz-placeholder,
input:-ms-input-placeholder {
    color: #ABB584;
}


/*#footer {
  width: 100%;
  background: #ABB584;
  padding: 40px;
  vertical-align: bottom;
  background: linear-gradient(rgba(255,255,255,0.9), #ABB584);
  border: 0;*/


.content {
  margin-top: 30px;

}
